@import "bootstrap-5.3.2/scss/functions";
@import "bootstrap-5.3.2/scss/variables";

$primary: rgba(69,94,182,1); // set the $primary variable

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));

// Import the main Bootstrap SCSS file
@import "bootstrap-5.3.2/scss/bootstrap.scss";

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(235,233,227); 
    color: $primary
}

header {
    transition: background-color 0.5s ease; /* Smooth transition effect */
    width: 100%;}

.navbar-brand {
    font-family: 'Perfectly Nineties Bold';
}

.navbar-toggler-icon {
    background-color: rgba(69,94,182,1) /* White color for the toggle icon */
}
